<table class="table table-striped mx-auto" style="width:90%">
  <thead>
    <tr>
      <th scope="col-sm-3">N° commande</th>
      <th scope="col-sm-3">Date</th>
      <th scope="col-sm-3">Type de paiement</th>
      <th scope="col-sm-3">Etat</th>
      <th scope="col-sm-3">Total TTC</th>
      <th scope="col-sm-3">Export</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">12345</th>
      <td>21/07/2019</td>
      <td>CB</td>
      <td><span class="badge badge-success">Payé</span></td>
      <td>15€</td>
      <td><a href="">
        <i class="fas fa-file-pdf"></i> PDF
        </a></td>
    </tr>
    <tr>
      <th scope="row">24634</th>
      <td>21/08/2019</td>
      <td>CB</td>
      <td><span class="badge badge-success">Payé</span></td>
      <td>15€</td>
      <td><a href="">
        <i class="fas fa-file-pdf"></i> PDF
        </a></td>
    </tr>
    <tr>
      <th scope="row">63928</th>
      <td>21/09/2019</td>
      <td>CB</td>
      <td><span class="badge badge-warning">En cours</span></td>
      <td>15€</td>
      <td><a href="">
        <i class="fas fa-file-pdf"></i> PDF
        </a></td>
    </tr>
  </tbody>
</table>