
{% for data in info %}
<h3 class="lead text-center mb-3"> Vous allez souscrire au service : <strong>{{data.description}}<strong></h3>
<h4 class="lead text-center mb-5">Choisissez un forfait :</h4>

{% endfor %}
<div class="d-flex justify-content-around">
<div class="card" style="width: 18rem;">
  <img src="dist/img/photo1.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Formule simple</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="dist/img/photo2.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">formule avancée</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="dist/img/photo4.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">formule pro</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>
</div>
<script src="js/Nav.js"></script>