
  <!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->

    <!-- /.content-header -->
   <section class="content">
      <div class="container-fluid">
        <!-- /.row -->
        <div class="row d-flex justify-content-center">
          <div class="col-lg-3 col-7">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>VPS</h3>

                <p>Panel de VPS</p>
              </div>
              <div class="icon">
                <i class="fas fa-cloud"></i>
              </div>
              <a href="#" class="small-box-footer subscription" data-target="vps">
                Souscrire à un VPS <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-7">
            <!-- small card -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>Serveur</h3>

                <p>Panel de serveur</p>
              </div>
              <div class="icon">
                <i class="fas fa-server"></i>
              </div>
              <a href="#" class="small-box-footer subscription" data-target="srv">
                Souscrire à un serveur <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-7">
            <!-- small card -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>Bureau Virtuel</h3>

                <p>Panel de Bureau Virtuel</p>
              </div>
              <div class="icon">
                <i class="fas fa-desktop"></i>
              </div>
              <a href="#" class="small-box-footer subscription" data-target="vdi">
                Souscrire à un BV <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
          <!-- ./col -->
          <div class="row d-flex justify-content-center">
          <div class="col-lg-3 col-7">
            <!-- small card -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>BDD</h3>

                <p>Panel de Base de donnée</p>
              </div>
              <div class="icon">
                <i class="fas fa-database"></i>
              </div>
              <a href="#" class="small-box-footer subscription" data-target="bdd">
                Souscrire à un BDD <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
          </div>
          <!-- ./col -->
  <script src='js/Nav.js'></script>