
  <!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->

    <!-- /.content-header -->
   <section class="content">
      <div class="container-fluid text-center">
        <!-- /.row -->
        <h1> Bienvenue {{app.user.name}} {{app.user.firstName}}</h1>
      </div>
      <div class="text-center">
        <h4><p>Vous n'êtes souscrit à aucun service </h4>
      </div>

          <!-- ./col -->
  <script src='js/Nav.js'></script>